@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 23%, 16%);
    font-size: 28px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 500px;    
    background: hsl(217, 19%, 24%);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto 2em;
}

.adviceContainer {
    color: hsl(193, 38%, 86%);
    margin: 20px 0;
}

.card {
    padding: 15px;
    /* position: absolute; */
}

.card h1 {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 15px;
}

.dice-image {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 30px;
    cursor: pointer;
}

.dice-image:hover,
.dice-image:focus {
    box-shadow: 0px 0px 30px hsl(150, 100%, 66%);
}

.divider {
    width: 100%;
    margin: 50px auto 0;
}
